@import url("https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Doulos SIL"
}

@keyframes slide-left { 0% { opacity: 1; transform: translateX(0); } 100% { opacity: 0; transform: translateX(-60px); } }
@keyframes slide-right { 0% { opacity: 1; transform: translateX(0); } 100% { opacity: 0; transform: translateX(60px); } }
.animate-slide-left { animation: slide-left 0.25s linear; }
.animate-slide-right { animation: slide-right 0.25s linear; }

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
